# Core analysis
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
nbformat    # plotly needs nbformat for rendering
kaleido     # To render static plotly images supported by github

# Database connectivity
sqlalchemy
pyodbc

# Data ingestion
requests
